exportPattern("^[[:alpha:]]+")
import("grid")
import("graphics")
import("grDevices")
import("stats")
S3method(plot,accrued)
S3method(plot,accruedErrors)
S3method(plot,summary.accrued)
S3method(print,accrued)
S3method(print,summary.accrued)
S3method(summary,accrued)
S3method(summary,accruedErrors)
